site_name: My site
site_url: https://mydomain.org/mysite
theme:
  name: material
  font:
    text: Merriweather Sans
  palette:
    scheme: slate
    primary: indigo
    accent: deep orange

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - extra.js
  - panzoom.min.js
  - d2-panzoom.js
  - https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@3.1/dist/svg.min.js
  - javascripts/enable-video-controls.js
plugins:
  - glightbox
  - d2
markdown_extensions:
  # - markdown_include.include:
  #     base_path: docs
  - admonition
  - pymdownx.details
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  - tables

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          # Use custom CSS to override Mermaid colors
          style: |
            .node {
              fill: #FF0000;
              stroke: #00FF00;
            }
          theme: forest
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
